* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f1f5f9, #fff);
  /* background: linear-gradient(#020617, #0f172a); */
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

.app-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  padding: 4vh 2vw;
  z-index: 0;
}

.app-header,
.app-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5vh;
  width: 100%;
  background-color: #111;
  color: #f1f5f9;
  z-index: 999;
}

.app-footer {
  flex-direction: column;
}

.menu-navbar {
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.mobile-menu {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.menu-navbar li {
  list-style: none;
}

.app-footer a,
.menu-navbar a {
  text-decoration: none;
  color: #f1f5f9;
}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: #23a6d5;
}

.mobile-menu-icon {
  display: none;
}

.dropdown-menu {
  position: absolute;
  box-shadow: 0 0 2px white;
  border-radius: 3px;
  background-color: #222;
  width: 180px;
  padding: 10px 5px;
  z-idex: 999;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation: dropdown 0.5s ease;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-body section {
  width: 100%;
}

.home-top,
.home-botton {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
  gap: 10px;
  justify-content: center;
}

.home-midle {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-top h1 {
  font-size: 3rem;
}

#button-junte-se {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    no-repeat;
  background-size: 300% 300%;

  text-decoration: none;
  color: #f1f5f9;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 160px;
  height: 50px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease;
}

#button-junte-se:hover {
  transform: scale(1.5);
  animation: hover 1.5s ease alternate infinite;
}

@keyframes hover {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

#praying {
  width: 64px;
  height: 64px;
}

.page-body {
  width: 50%;
  min-height: 100%;
}

.page-body h1 {
  text-align: center;
  margin: 0 0 40px 0;
}

.page-body h2 {
  text-align: center;
  margin: 0 0 30px 0;
}

.page-body p {
  text-align: justify;
  margin: 0 0 20px 0;
}

#table {
  /* background-color: blue; */
  width: 100%;
}

#table th {
  background-color: #111;
  color: #f1f5f9;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Estilo para as células da tabela */
#table td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Estilo para as linhas alternadas (opcional) */
#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.agenda-body {
  width: 100%;
}

.page-top {
  height: 20vh;
}

.page-top h1,
.agenda-body h2,
.page-top p {
  text-align: center;
  margin: 0 0 40px 0;
}

.page-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  position: relative;
}

#calendar {
  width: 30vw;
}

#eventos {
  width: 20vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-navigation {
  display: flex;
  justify-content: flex-end;
}

#button-prev,
#button-next {
  background-color: #111;
  border: none;
  width: 60px;
  height: 60px;
  color: #f1f5f9;
  font-size: 1.8rem;
  cursor: pointer;
  transform: translateY(45px);
}

#button-prev {
  border-radius: 10px 0 0 10px;
}

#button-next {
  border-radius: 0 10px 10px 0;
}

#button-prev:hover,
#button-next:hover {
  background-color: #222;
}

.inactive {
  color: blue;
}

.form-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.controles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.controles input {
  height: 30px;
  /* border-radius: 5px; */
}

.form-pedido button {
  height: 35px;
  width: 90px;
  background-color: #111;
  border: none;
  border-radius: 8px;
  color: #f1f5f9;
  /* border-radius: 5px; */
}

.image {
  text-align: center;
  margin: 50px 0;
}

.card {
  min-height: 350px;
  padding: 20px;
  border: solid 1px;
  margin: 15px;
  border-radius: 5px;
}

.card h3 {
  font-size: 1rem;
}

.card p {
  font-size: 1rem;
  margin: 15px 0 0 0;
}

.card-button {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-button {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    no-repeat;
  background-size: 300% 300%;
  text-decoration: none;
  color: #f1f5f9;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 160px;
  height: 50px;
  border-radius: 15px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-button:hover {
  animation: hover 1.5s ease alternate infinite;
}
